input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}
